#!/usr/bin/make -f

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_build:
	#./debian/update-wordlists.sh
	dh_auto_build

override_dh_compress:
	dh_compress -X.py

override_dh_clean:
	rm -rf *.egg-info/
	dh_clean
